{
  "tabWidth": 2,
  "bracketSpacing": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
